@using Microsoft.AspNet.Mvc.Rendering
@using System.Text;

@functions
{
    HtmlString SocialLink(string url, string iconIdentifier)
    {
        var tw = new StringCollectionTextWriter(Encoding.UTF8);
        tw.WriteLine("\n<li>");
        tw.Write("  <a href=\""); tw.Write(url); tw.WriteLine("\">");
        tw.Write("      <i class=\"hawkicon-"); tw.Write(iconIdentifier); tw.WriteLine(" social-link\"></i>");
        tw.WriteLine("  </a>");
        tw.Write("</li>");
        
        return new HtmlString(tw);
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DevHawk @ViewBag.Title</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <link href='//fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab:400,700|Roboto+Condensed|Roboto+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>

<environment names="Development">
    <link href="~/css/hawk.less" rel="stylesheet/less">
    <link href="~/css/hawkicon.less" rel="stylesheet/less">
    <link href="~/css/vs.less" rel="stylesheet/less">
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" type="text/css" href="~/css/hawk.min.css" />
</environment>

</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-action="Index" asp-controller="Home" class="navbar-brand">DevHawk</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-action="Index" asp-controller="Blog">Blog</a></li>
                    <li><a asp-action="Archives" asp-controller="Blog">Archives</a></li>
                    <li><a asp-action="Index" asp-controller="Feed">RSS</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    @RenderBody()

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        @SocialLink("mailto:harry@devhawk.net", "mail")
                        @SocialLink("skype:harrypierson", "skype")
                        @SocialLink("http://twitter.com/devhawk", "twitter")
                        @SocialLink("https://github.com/devhawk/", "github")
                        @SocialLink("http://stackoverflow.com/users/1179731/devhawk", "stackoverflow")
                        @SocialLink("http://facebook.com/devhawk", "facebook")
                        @SocialLink("https://www.linkedin.com/in/harrypierson", "linkedin")
                        @SocialLink("http://live.xbox.com/member/RayTracer", "xbox") 
                    </ul>
                    <p class="copyright text-muted text-center">Copyright &copy; Harry Pierson @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </footer>

<environment names="Development">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.js"></script>
</environment>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
