@using Microsoft.AspNet.Mvc.Rendering
@using System.Text;

@functions
{
    HtmlString SocialLink(string url, string iconIdentifier)
    {
        var tw = new StringCollectionTextWriter(Encoding.UTF8);
        tw.WriteLine("\n<li>");
        tw.Write("  <a href=\""); tw.Write(url); tw.WriteLine("\">");
        tw.Write("      <i class=\"fi-"); tw.Write(iconIdentifier); tw.WriteLine(" style1\"></i>");
        tw.WriteLine("  </a>");
        tw.Write("</li>");
        
        return new HtmlString(tw);
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DevHawk @ViewBag.Title</title>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <link href="http://rawgit.com/isagalaev/highlight.js/master/src/styles/default.css" rel="stylesheet">

    <style>
        pre code {
            display: block;
            overflow-x: auto;
            padding: 0.5em;
            background: #f0f0f0;
            -webkit-text-size-adjust: none;
            -moz-text-size-adjust: none;
            -ms-text-size-adjust: none;
            text-size-adjust: none;
        }
        
        .image-right { float:right; }
        .image-left  { float:left;  }
        
        .style1 {
            font-size: 50px;
            /*color: #B8D30B;*/
        }

    </style>
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-action="Index" asp-controller="Home" class="navbar-brand">DevHawk</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-action="Index" asp-controller="Blog">Blog</a></li>
                    <li><a asp-action="Archives" asp-controller="Blog">Archives</a></li>
                    <li><a asp-action="Index" asp-controller="Feed">RSS</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" role="main">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        @SocialLink("mailto:harry@devhawk.net", "mail")
                        @SocialLink("skype:harrypierson", "social-skype")
                        @SocialLink("http://twitter.com/devhawk", "social-twitter")
                        @SocialLink("https://github.com/devhawk/", "social-github")
                        @SocialLink("http://stackoverflow.com/users/1179731/devhawk", "social-stack-overflow")
                        @SocialLink("http://facebook.com/devhawk", "social-facebook")
                        @SocialLink("https://www.linkedin.com/in/harrypierson", "social-linkedin")
                        @SocialLink("http://live.xbox.com/member/RayTracer", "social-xbox") 
                    </ul>
                    <p class="copyright text-muted text-center">Copyright &copy; Harry Pierson @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
