@using Microsoft.AspNet.Mvc.Rendering
@using System.Text;

@functions
{
    HtmlString SocialLink(string url, string iconIdentifier)
    {
        var tw = new StringCollectionTextWriter(Encoding.UTF8);
        tw.WriteLine("\n<li>");
        tw.Write("  <a href=\""); tw.Write(url); tw.WriteLine("\">");
        tw.Write("      <i class=\"fi-"); tw.Write(iconIdentifier); tw.WriteLine(" style1\"></i>");
        tw.WriteLine("  </a>");
        tw.Write("</li>");
        
        return new HtmlString(tw);
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DevHawk @ViewBag.Title</title>

    <link href="~/bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="~/bower/highlight.js/src/styles/vs.css" rel="stylesheet">
    @* TODO: figure out how to bring in foundation-icons via bower *@
    <link href="~/css/foundation-icons.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab:400,700|Roboto+Condensed|Roboto+Mono' rel='stylesheet' type='text/css'>
    <link href="~/css/hawk.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-action="Index" asp-controller="Home" class="navbar-brand">DevHawk</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-action="Index" asp-controller="Blog">Blog</a></li>
                    <li><a asp-action="Archives" asp-controller="Blog">Archives</a></li>
                    <li><a asp-action="Index" asp-controller="Feed">RSS</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" role="main">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        @SocialLink("mailto:harry@devhawk.net", "mail")
                        @SocialLink("skype:harrypierson", "social-skype")
                        @SocialLink("http://twitter.com/devhawk", "social-twitter")
                        @SocialLink("https://github.com/devhawk/", "social-github")
                        @SocialLink("http://stackoverflow.com/users/1179731/devhawk", "social-stack-overflow")
                        @SocialLink("http://facebook.com/devhawk", "social-facebook")
                        @SocialLink("https://www.linkedin.com/in/harrypierson", "social-linkedin")
                        @SocialLink("http://live.xbox.com/member/RayTracer", "social-xbox") 
                    </ul>
                    <p class="copyright text-muted text-center">Copyright &copy; Harry Pierson @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/bower/jquery/dist/jquery.js"></script>
    <script src="~/bower/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
