@model Post
@using Microsoft.AspNet.Html.Abstractions
@using Humanizer

@functions
{
    IHtmlContent CommaSeperatedList(string intro, IEnumerable<HtmlString> items)
    {
        var bhc = new BufferedHtmlContent();
        int count = items.Count();
        
        if (count > 0)
        {
            bhc.Append(intro);
            bhc.Append(" ");
        
            bhc.Append(items.First());
            foreach (var item in items.Skip(1).Take(count - 2))
            {
                bhc.Append(", ");
                bhc.Append(item);
            }
            if (count > 1)
            {
                bhc.Append(" & ");
                bhc.Append(items.Last()); 
            }
            bhc.Append(".");
        }
        
        return bhc;
    }
    
    IHtmlContent CommentText(Post post)
    {
        var bhc = new BufferedHtmlContent();
        
        if (post.CommentCount > 0)
        {
            bhc.Append("There ");
            bhc.Append(post.CommentCount == 1 ? "is " : "are ");
            bhc.Append("comment".ToQuantity(post.CommentCount, ShowQuantityAs.Words));
            bhc.Append(". ");
        }

        return bhc;
    }
}

<div class="blog-post">
    <h2 class="blog-post-title"><a asp-action="Post" asp-route-year="@Model.Date.Year" asp-route-month="@Model.Date.Month" asp-route-day="@Model.Date.Day" asp-route-slug="@Model.Slug">@Model.Title</a></h2>
    <div class="blog-post-content">
        @Html.Raw(await Model.Content())
    </div>
    <div class="blog-post-footer">
        This entry was posted
        by <a asp-action="Author" asp-controller="Blog" asp-route-slug="@Model.Author.Slug">@Model.Author.Name</a>
        on <a asp-action="PostsByDay" asp-controller="Blog" asp-route-year="@Model.Date.Year" asp-route-month="@Model.Date.Month" asp-route-day="@Model.Date.Day">@Model.Date.ToString("MMMM dd, yyyy")</a>. 
        @CommaSeperatedList("It was posted in", Model.Categories.Select(cat => Html.ActionLink(cat.Title, "Category", new { name = cat.Slug })))
        @CommaSeperatedList("It was tagged", Model.Tags.Select(tag => Html.ActionLink(tag.Title, "Tag", new { name = tag.Slug })))
        @CommentText(Model)
    </div>
</div>