@model Post
@using Microsoft.AspNet.Mvc.Rendering
@using System.Text;

@functions
{
    HtmlString CommaSeperatedList(string intro, IEnumerable<HtmlString> items)
    {
        var tw = new StringCollectionTextWriter(Encoding.UTF8);
        int count = items.Count();
        
        if (count > 0)
        {
            tw.Write(intro);
            tw.Write(" ");
        }
        
        tw.Write(items.FirstOrDefault());
        foreach (var item in items.Skip(1).Take(count - 2))
        {
            tw.Write(", ");
            tw.Write(item);
        }
        if (count > 1)
        {
            tw.Write(" & ");
            tw.Write(items.Last()); 
        }
        
        return new HtmlString(tw);
    }
}

<div class="blog-post">
    <h2 class="blog-post-title"><a asp-action="Post" asp-route-year="@Model.Date.Year" asp-route-month="@Model.Date.Month" asp-route-day="@Model.Date.Day" asp-route-slug="@Model.Slug">@Model.Title</a></h2>
    <div class "blog-post-content">
        @Html.Raw(await Model.Content())
    </div>
    <div class="blog-post-footer">
        This entry was posted
        by <a asp-action="Author" asp-controller="Blog" asp-route-name="@Model.Author.Slug">@Model.Author.Name</a>
        on <a asp-action="PostsByDay" asp-controller="Blog" asp-route-year="@Model.Date.Year" asp-route-month="@Model.Date.Month" asp-route-day="@Model.Date.Day">@Model.Date.ToString("MMMM dd, yyyy")</a> 
        @CommaSeperatedList("in", Model.Categories.Select(cat => Html.ActionLink(cat.Title, "Category", new { name = cat.Slug })))
        @CommaSeperatedList("and tagged", Model.Tags.Select(tag => Html.ActionLink(tag.Title, "Tag", new { name = tag.Slug })))
    </div>
</div>