@model IEnumerable<Post>
@using System.Globalization
@using System.IO;
@using Microsoft.AspNet.Html.Abstractions
@using Microsoft.Framework.WebEncoders;

@{
    ViewBag.Title = " Archive";
    Layout = "_BlogLayout";
}

@functions
{
    string MonthName(int monthNumber)
    {
        return CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(monthNumber);
    }

    class CommentCount : IHtmlContent
    {
        readonly int _count;

        public CommentCount(int count)
        {
            _count = count;
        }

        public void WriteTo(TextWriter writer, IHtmlEncoder encoder)
        {
            if (_count > 0)
            {
                writer.Write("(");

                // TODO: Convert to Humanizr when available for DNX
                writer.Write(_count.ToString());
                writer.Write(" comment");
                if (_count > 1)
                {
                    writer.Write("s");
                }
                writer.Write(")");
            }
        }

        public static CommentCount Create(int count)
        {
            return new CommentCount(count);
        }

    }
}

<h1>Blog Archive</h1>

<ul id="archive">
    @foreach (var month in Model.GroupBy(p => new { Year = p.Date.Year, Month = p.Date.Month }))
    {
        <li class="archive-month"><a asp-action="PostsByMonth" asp-controller="Blog" asp-route-year="@month.Key.Year" asp-route-month="@month.Key.Month">@MonthName(month.Key.Month) @month.Key.Year</a></li>
        <ul>
            @foreach (var post in month)
            {
                <li class="archive-post">
                    @MonthName(post.Date.Month) @post.Date.Day:
                    <a asp-action="Post" asp-controller="Blog" asp-route-slug="@post.Slug" asp-route-year="@post.Date.Year" asp-route-month="@post.Date.Month" asp-route-day="@post.Date.Day">@post.Title @CommentCount.Create(post.CommentCount)</a>
                </li>
            }
        </ul>
    }
</ul>
