@model Post
@using System.IO;
@using Microsoft.AspNet.Html.Abstractions
@using Microsoft.Framework.WebEncoders;

@{
    Layout = "_BlogLayout";
}

@functions
{
    class CommentAuthorContent : IHtmlContent
    {
        readonly CommentAuthor _author;

        public CommentAuthorContent(CommentAuthor author)
        {
            _author = author;
        }

        public void WriteTo(TextWriter writer, IHtmlEncoder encoder)
        {
            var link = !string.IsNullOrEmpty(_author.Url)
                ? _author.Url
                : !string.IsNullOrEmpty(_author.Email)
                    ? "mailto:" + _author.Email
                    : null;

            if (!string.IsNullOrEmpty(link))
            {
                writer.Write("<a href=\"");
                writer.Write(link);
                writer.Write("\">");
            }
            writer.Write(_author.Name);
            if (!string.IsNullOrEmpty(link))
            {
                writer.Write("</a>");
            }
        }

        public static CommentAuthorContent Create(CommentAuthor author)
        {
            return new CommentAuthorContent(author);

        }
    }
}

@await Html.PartialAsync("_Post", Model)

@if (Model.CommentCount > 0)
{
    <div class="blog-comments"><a name="comments"></a>
        <h3 class="blog-comments-header">Comments:</h3>
        @foreach (var comment in await Model.Comments())
        {
            <div class="blog-comment">
                <div class="blog-comment-content">@Html.Raw(comment.Content)</div>
                <div class="blog-comment-footer">
                    This comment was posted by @CommentAuthorContent.Create(comment.Author) 
                    on @comment.Date.ToString("MMMM") @comment.Date.Day@comment.Date.ToString(", yyyy") 
                    at @comment.Date.ToString("h:mm tt").
                </div>
            </div>
        }
    </div>
}