@model IEnumerable<Post>
@using System.Globalization

@{
    ViewBag.Title = " Archive";
    Layout = "_BlogLayout";
}

@functions
{
    string MonthName(int monthNumber)
    {
        return CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(monthNumber);
    }

    string CommentCount(int count) 
    {
        return count > 0 ? string.Format("({0} comments)", count) : string.Empty;
    }
}

<h1>Blog Archive</h1>

<ul id="archive">
    @foreach (var month in Model.GroupBy(p => new { Year = p.Date.Year, Month = p.Date.Month }))
    {
        <li class="archive-month"><a asp-action="PostsByMonth" asp-controller="Blog" asp-route-year="@month.Key.Year" asp-route-month="@month.Key.Month">@MonthName(month.Key.Month) @month.Key.Year</a></li>
        <ul>
            @foreach (var post in month)
            {
                <li class="archive-post">
                    @MonthName(post.Date.Month) @post.Date.Day:
                    <a asp-action="Post" asp-controller="Blog" asp-route-slug="@post.Slug" asp-route-year="@post.Date.Year" asp-route-month="@post.Date.Month" asp-route-day="@post.Date.Day">@post.Title @CommentCount(post.CommentCount)</a>
                </li>
            }
        </ul>
    }
</ul>
