@model Post
@using Microsoft.AspNet.Html.Abstractions

@{
    Layout = "_BlogLayout";
}

@functions
{
    IHtmlContent CommentAuthor(CommentAuthor author)
    {
        var bhc = new BufferedHtmlContent();
        var link = !string.IsNullOrEmpty(author.Url) 
            ? author.Url
            : !string.IsNullOrEmpty(author.Email)
                ? "mailto:" + author.Email
                :  null;
        
        if (!string.IsNullOrEmpty(link))
        {
            bhc.Append("<a href=\"");
            bhc.Append(link);
            bhc.Append("\">");
        }
        bhc.Append(author.Name);
        if (!string.IsNullOrEmpty(link))
        {
            bhc.Append("</a>");
        }

        return bhc;
    }
}

@await Html.PartialAsync("_Post", Model)

@if (Model.CommentCount > 0)
{
    <div class="blog-comments"><a name="comments"></a>
        <h3 class="blog-comments-header">Comments:</h3>
        @foreach (var comment in Model.Comments())
        {
            <div class="blog-comment">
                <div class="blog-comment-content">@Html.Raw(comment.Content)</div>
                <div class="blog-comment-footer">
                    This comment was posted by @CommentAuthor(comment.Author) 
                    on @comment.Date.ToString("MMMM") @comment.Date.Day@comment.Date.ToString(", yyyy") 
                    at @comment.Date.ToString("h:mm tt").
                </div>
            </div>
        }
    </div>
}